.die-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: var(--shadow);
}

.die-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}